atenea.yudri.es {
	handle /api/* {
		reverse_proxy host.docker.internal:8081
	}

	handle /actuator/health {
		reverse_proxy host.docker.internal:8081
	}

	handle {
		basic_auth {
			atenea-web $2a$14$sheZYb90BPyCv1Q/hTNXwePVmskxKd4uN995x4rjW67OtNNSMvO96
		}
		reverse_proxy host.docker.internal:8081
	}
}

ateneatest.yudri.es {
	handle /api/* {
		reverse_proxy host.docker.internal:8082
	}

	handle /actuator/health {
		reverse_proxy host.docker.internal:8082
	}

	handle {
		basic_auth {
			atenea-web $2a$14$sheZYb90BPyCv1Q/hTNXwePVmskxKd4uN995x4rjW67OtNNSMvO96
		}
		reverse_proxy host.docker.internal:8082
	}
}

ateneaapptest.yudri.es, https://ateneaapptest.yudri.es:8083 {
	reverse_proxy expo-preview:8083
}

ateneaapp.yudri.es {
	reverse_proxy expo-prod:8084
}
